{# templates/registration/register.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Page d'inscription</title>
</head>
<body>
    <h1>Inscrivez-vous ici</h1>
    <form>
        <!-- Formulaire d'inscription -->
    </form>
</body>
</html>

